.filter{
    border: thin solid gray;
    border-radius: 5%;
    font-size: large; 
   
    min-width: 20rem;
   
}

.filter h3 {
    border-bottom: thin solid gray;
    padding: 0.5rem;
}

.filter p{
    border-top: thin solid gray;
    padding: 0.5rem;
    
}
.filter ul {
    list-style: none;
    padding: 0.5rem;
}

.trends h3 {
    background-color: gray;
    border: thin solid gray;
    border-radius: 50px;
    
}